@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

body{
  font-family: 'Raleway', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
}

.navbar-brand.me-2 {
    color: #e6a922;
}

h2,h3 {
  font-weight: bold;
  color: #e9492d;
}

a, code a {
  color: #730e61;
}

a:hover, code a:hover {
  color: #e6a922;
}

a:not([href]) {
  color: inherit;
}

a:not([href]):hover {
  color: inherit;
}
